<div class="container">
  <mat-card-header>
    <mat-card-title><h2>{{(state$ | async).title }}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Favorite food" [(ngModel)]="value">
    </mat-form-field>
    <div>
      <button mat-button color="primary" (click)="addTodo()">Add To Do</button>
      <button mat-button color="primary" (click)="removeLastTodo()">Remove The Last ToDo</button>
    </div>
  </mat-card-content>
<mat-list *ngFor="let todo of (state$ | async).todoList">
  <mat-list-item> {{todo}} </mat-list-item>
</mat-list>
</div>
